<h1>245 10 $aLibrarian & Technologist $kRésumé/$cGreg Smith, MI</h1>
<code>
041 0# $aeng</br>
043 ## $an-cn-on$cca</br>
100 1# $aSmith, Gregory James,$d1982-</br>
505 0# $aEducation -- Employment -- Skills -- Awards & Recognition -- Certifications -- Training, Courses & Workshops.</br>
521 3# $3Résumé$afor prospective employers, potential collaborators, and posterity.</br>
522 ## $aToronto, Ontario, Canada.</br>
530 ## $3Résumé$aavailable as PDF:$u<a href="https://onshisan.github.io/cv/resume.pdf">https://onshisan.github.io/cv/resume.pdf</a></br>
546 ## $aEnglish</br>
650 #0 $aRésumés (Employment)</br>
655 #5 $aRésumés.$y21st Century.</br>
656 ## $aLibrarians.$kRésumés.</br>
856 40 $uhttps://onshisan.github.io/cv/</br>
856 0# $umailto:<a href="mailto:greg.smith@gmail.com">greg.smith@gmail.com</a></br>
</code>

</br>

	<h2>Education</h2>
	<p>Master of Information, Library and Information Science; University of Toronto | 2013</p>
	<p>Diploma, Library and Information Technician; Seneca College | 2007</p>
	<p>Honours Bachelor of Arts, Political Science; Wilfrid Laurier University | 2005</p>

	</br>
	</br>

	<h2>Employment</h2>
	<p>Systems Librarian (LS-3); Dept. of Justice Canada | 2018 - present</p>
	<p>Information Management Systems Specialist (EC-3); Dept. of Justice Canada | 2017 - 2018 (acting)</p>
	<p>Electronic Resources Librarian (LS-2); Dept. of Justice Canada | 2015-2016 (acting)</p>
	<p>Information Technician, Review and Acquisitions (EC-2); Dept. of Justice Canada | 2015 (acting)</p>
	<p>Library Technician (EC-1); Dept. of Justice Canada | 2008 - 2018</p>
	<p>Book Scanner; Internet Archive | 2006 - 2007 (part-time)</p>
	<p>Program Officer; Dept. of Canadian Heritage | 2003 (co-op)</p>
	
	</br>
	</br>

	<h2>Skills</h2>
	<p>Integrated library system (ILS) administration</p>
	<p>Law/government/special library technical services operations & management</p>
	<p>Data analysis & visualization</p>
	<p>Remote collaboration & virtual teams
	<p>Library cataloguing: MARC21 | AACR2 | LCC / KF-modified | LCSH / CSH</p>
	<p>Technology: Windows / Linux / iOS | HTML / CSS | Shell / Bash / Python / Regex | Git / GitHub</p>

	</br>
	</br>

	<h2>Awards & Recognition</h2>
	<p>Management Sector "Guru" Award; CFO & ADM, Management Sector, Dept. of Justice Canada, 2021</p>
	<p>Certificate of Recognition, ILS Replacement Project; Dept. of Justice Canada, 2012</p>
	<p>Team Merit Award, ILS Evaluation Committee; Dept. of Justice Canada, 2010</p>

	</br>
	</br>

	<h2>Certifications</h2>
	<p>CompTIA A+, <a href="https://www.certmetrics.com/comptia/public/verification.aspx">Verification</a> ID X4FWRK5C934E5LP8</p>
	<p>Fortinet NSE2 Network Security Associate, <a href="https://training.fortinet.com/mod/customcert/verify_certificate.php">Verification</a> ID E4AHRIIq6w</p>
	<p>Standard First Aid & CPR Level C with AED</p>

	</br>
	</br>

<!--
	<h2>Licenses & Certificates</h2>
	<p>Amateur Radio Operator Certificate, Basic with Honours (VE3XGS); Industry, Science, and Economic Development Canada</p>
	<p>Restricted Operator Certificate - Maritime (ROC-M); Industry, Science, and Economic Development Canada</p>
	<p>Pleasure Craft Operator Card (PCOC); Transport Canada</p>	
	<p>Pilot Certificate - Basic Operations; Transport Canada</p>

	</br>
	</br>
-->

	<h2>Training, Courses & Workshops</h2>
	
	<h3>Google</h3>
	<ul id="resume">
		<li><a href="https://www.coursera.org/account/accomplishments/verify/WGQAZRRVPUH3">Google Cloud Fundamentals: Core Infrastructure</a></li>
	</ul>

	<h3>The Linux Foundation</h3>
	<ul id="resume">
		<li><a href="https://www.coursera.org/account/accomplishments/specialization/NZDQTRAW323A">Specialization in Open Source Software Development, Linux and Git</a></li>
	</ul>

	<h3>University of Toronto, iSchool Institute</h3>
	<ul id="resume">
		<li>Certificate, Legal Research on the Web (PLC1007)</li>
		<li>Certificate, Records Management Fundamentals (PLC6W02)</li>
	</ul>

	<h3>University of Toronto, School of Continuing Studies</h3>
	<ul id="resume">
		<li>Knowledge Management (SCS 0219)</li>
	</ul>

	<h3>Canada School of Public Service</h3>
	<ul id="resume">
          {% for course in site.data.CSPS %}
            <li>{{ course.CODE }} - {{ course.TITLE }}</li>
          {% endfor %}
        </ul>
